

<table>
    {{#with runs.0}}
    <tr><td>Run:</td><td>{{name}}</td></tr>
    <tr><td>Date:</td><td>{{date}}</td></tr>
    <tr><td>Investigator:</td><td>{{investigator}}</td></tr>
    <tr><td>Assay:</td><td>{{assay}}</td></tr>
    <tr><td>Description:</td><td>{{description}}</td></tr>
    <tr><td>Chemistry:</td><td>{{chemistry}}</td><tr>
    {{/with}}
</table>

